body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #e3b778; 
  color: #333;
  min-height: 100vh;
  overflow-x: hidden; 
}

#root {
  max-width: 100%; 
  margin: 0 auto;
  box-sizing: border-box;
}